.order-pool-div {
  margin: 2rem auto !important;
  margin-right: 7px;
  margin: 1px auto;
  background-color: blanchedalmond;
  border-radius: 1rem;
  min-height: 250px;
  align-items: center;
  vertical-align: middle;
  width: fit-content;
  padding: 0 !important;
}

.order-pool-heading {
  display: flex;
  gap: 2rem;
  background-color: rgb(199, 255, 205);
  border-radius: 1rem 1rem 0rem 0rem;
  margin: 0px auto;
  padding: 5px;
  width: max-content;
  border: 2px solid black;
  width: initial;
}

.order-pool-details {
  align-items: baseline;
  background-color: rgb(199, 255, 205);
  padding: 0.5rem;
  border: 2px solid black;

  text-align: center;
  border-radius: 0 0 1rem 1rem;
}

.order-details {
  max-height: 35vh;
  overflow-y: scroll;
  margin: 0.5rem;
  padding: 0.5rem;
}
