.card {
  width: fit-content;
  padding: 0px;
  margin: 20px auto;
  background-color: blanchedalmond;
  border-radius: 1rem;
  min-height: 250px;
  align-items: center;
  vertical-align: middle;
  max-width: 90vw;
}

.card-header {
  background-color: rgb(199, 255, 205);
  border-radius: 1rem 1rem 0rem 0rem !important;
  margin: 0px auto;
  padding: 2px;
  width: -webkit-fill-available;
}
