.wallet-details {
  display: flex;
  gap: 2rem;
  padding: 3px 5px;
  align-items: baseline;
}

.wallet-balance {
  display: flex;
  gap: 0rem;
}

.neg-growth {
  color: red;
}

.pos-growth {
  color: green;
}
