.navbar {
  margin-top: 0px;
  padding: 2px;
}

.navbar-toggler {
  background-color: rgb(162, 211, 252);
  border-color: turquoise;
  color: white;
  font-size: 20px;
}

.navbar-mainbg {
  background-color: rgb(30, 153, 253);
  color: white;
}

.navbar-mainbg a {
  background-color: rgb(30, 153, 253);
  color: white;
  text-decoration: none;
  padding: 4px;
}

.ml-auto {
  left: auto !important;
  right: 0px;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: white;
  font-family: inherit;
  cursor: pointer;
  padding: auto;
}

.link:hover {
  color: black !important;
}
