.div-market-options {
  background-color: blanchedalmond;
  max-width: 90vw;
  max-width: 1170px;
  margin: 10px auto;
  border-radius: 25px;
  text-align: center;
}

.div-market-options h3 {
  text-align: center;
  margin: 0rem auto;
  text-align: center;
  background-color: rgb(199, 255, 205);
  border-radius: 1rem 1rem 0rem 0rem;
}

.market-form {
  font-size: larger;
  padding: 2px;
  height: fit-content;
  width: fit-content;
  margin: 2px auto;
}

label {
  width: max-content;
}

.form-select {
  height: fit-content;
}

.btn {
  width: fit-content;
  margin: 5px auto;
}
