.div-trade-options {
  background-color: blanchedalmond;
  border-radius: 25px;
  font-size: small;
  margin: 2px auto;
  padding: 1px;
}

.div-trade-options h3 {
  text-align: center;
  margin: 0rem auto;
  text-align: center;
  background-color: rgb(199, 255, 205);
  border-radius: 1rem 1rem 0rem 0rem;
}

.market-form {
  text-align: center;
  padding: 5px;
}

.trade-btn {
  margin: 1rem auto !important;
  margin-bottom: 0px;
}
